*{
  margin: 0;
}
.app{
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}
@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}
.app__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app__stats{
  display:flex;
  justify-content: space-between;
}
.app__left{
  flex: 0.9;
  /* background-color: rgb(226, 221, 214); */
}
.app__header > h1{
  color: red;
  font-size: 1.9rem;
}
.app__dropdown{
background-color: white;
}
.app__title{
  margin-top:20px ;
}
.app__right{
  /* display: flex; */
  /* color: blueviolet; */
}
.app__graph{
  height: 200px;
flex-grow: 1;
}
